[class^=word-] {
    text-align: center;
    font: 16px/1.3 Helvetica, "Helvetica Neue", Arial, sans-serif;
}

.word- {
    padding: 20px 0 30px;
}

.word-body {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}
