[class^=word-] {
    text-align: center;
    @include sansSerif(14px);
}

.word- {
    padding: 20px 0 30px;
}

.word-body {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.word-button {
    @include button;
}
