[class^=word-] {
    text-align: center;
    @include sansSerif(16px);
}

.word- {
    clear: both;
    padding: 24px 0 36px;
    
    &body {
        margin-bottom: 14px;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }

    &button {
        @include button;
    }

    &wtf {
        &, &:hover {
            color: $link;
            text-decoration: none
        }
    }
}
